#root {
  @media only screen and (max-width: 1366px) {
    width: 1366px;
  }
  @media only screen and (max-width: 1280px) {
    width: 1280px;
  }
  @media only screen and (max-width: 1024px) {
    width: 1024px;
  }
  @media only screen and (max-width: 800px) {
    width: 800px;
  }
  @media only screen and (max-width: 600px) {
    width: 600px;
  }
  @media only screen and (max-width: 420px) {
    width: 410px;
  }
  @media only screen and (max-width: 375px) {
    width: 100%;
  }
}
.main {
  height: 100vh;
}
p {
  margin: 0;
}
.escape {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  width: 230px;
  height: 47px;
  color: black;
  text-decoration: none;
  align-self: center;
  text-align: center;
  width: 1000px;
}
